{
  "schema": "561aea53-290b-002d-00cc-623c648a523a",
  "schema_name": "BlenderMaterialImportedData",
  "properties": {
    "alpha_threshold": 0.5,
    "backface_culling": true,
    "base_color_factor.w": 1.0,
    "base_color_factor.x": 1.0,
    "base_color_factor.y": 1.0,
    "base_color_factor.z": 1.0,
    "blend_method": "Opaque",
    "color_texture": "test_texture.jpg",
    "color_texture_has_alpha_channel": false,
    "emissive_factor.x": 0.0,
    "emissive_factor.y": 0.0,
    "emissive_factor.z": 0.0,
    "emissive_texture": "",
    "metallic_factor": 1.0,
    "metallic_roughness_texture": "test_texture.jpg",
    "normal_texture": "test_texture.jpg",
    "normal_texture_scale": 1.0,
    "roughness_factor": 1.0,
    "shadow_method": "Opaque"
  }
}