{
  "schema": "059854a1-ce0e-99a8-48d8-4b47104d0127",
  "schema_name": "GlslSourceFileImportedData",
  "properties": {
    "code": "#version 450\n#extension GL_ARB_separate_shader_objects : enable\n#extension GL_ARB_shading_language_420pack : enable\n\n#include \"depth.glsl\"\n\n// @[semantic(\"POSITION\")]\nlayout (location = 0) in vec3 in_pos;\n\n// @[semantic(\"MODELMATRIX\")]\nlayout (location = 1) in mat4 in_model_matrix; // Uses locations 1-4. The semantic will be named `MODELMATRIX0` through `MODELMATRIX3`.\n// layout (location = 2) in mat4 in_model_matrix;\n// layout (location = 3) in mat4 in_model_matrix;\n// layout (location = 4) in mat4 in_model_matrix;\n\nvoid main() {\n    mat4 model_view_proj = per_view_data.view_proj * in_model_matrix;\n    gl_Position = model_view_proj * vec4(in_pos, 1.0);\n}\n"
  }
}